!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
*.iml
.DS_Store
*.log
.classpath
.project
.settings/
bin/
.idea/
target/
workspace.xml
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.secrets